@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cursive Scripting Introduction</title>
</head>
<body>
    <div>
        This is the demo site thing. It represents a series of lessons introducing a new user to the Cursive Scripting UI. @Html.ActionLink("Lesson 1 can be found here.", "Lesson1", "Workspace")
    </div>
</body>
</html>
